.galeria-container {
  padding: 2rem;
  background-color: #000;
  color: #ff6600;
  margin: auto;
}

.galeria-container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitulo {
  text-align: center;
  color: #ccc;
  margin-bottom: 2rem;
}

/* Marco principal */
.galeria-main {
  width: 100%;
  height: 450px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  position: relative; /* Para ubicar las flechas */
}

.galeria-main img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

/* Botones de navegación */
.btn-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #ff6600;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: background 0.3s;
  z-index: 2;
}

.btn-nav:hover {
  background: rgba(0, 0, 0, 0.8);
}

.btn-nav.izquierda {
  left: 450px;
}

.btn-nav.derecha {
  right: 450px;
}

/* Carrusel de miniaturas */
.galeria-carrusel {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.miniatura {
  width: 100px;
  height: 70px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s, transform 0.3s;
}

.miniatura img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.miniatura:hover {
  transform: scale(1.05);
}

.miniatura.activa {
  border: 2px solid #ff6600;
}


