.mantenimiento-general-container {
  max-width: 700px;
  margin: auto;
}

img {
  max-height: 300px;
  object-fit: cover;
}

.buton{
  background-color: #ff6600;
  color: black;
    
}

.texto{
    color: #ccc;   
}