<section class="sobre-mi-container container py-5">
  <div class="row align-items-center">
    
    <!-- Foto -->
    <div class="col-md-4 text-center">
      <img src="./assets/galeria/carlos2.jpeg" alt="Foto personal" class="foto-perfil img-fluid  shadow">
    </div>
    
    <!-- Texto -->
    <div class="col-md-8">
      <h2 class="mb-3">Sobre mí</h2>
      <p>
        ¡Hola! Soy <strong>Carlos Torres</strong>, Soy Ingeniero de Sistemas con especialización en mecánica de motocicletas, 
        enfocado en brindar servicios de diagnóstico, reparación y mantenimiento con los más altos estándares de calidad. 
        Mi formación académica y experiencia práctica me permiten integrar el conocimiento técnico con una gestión estructurada
         y eficiente de cada proceso.

        Trabajo bajo principios de responsabilidad, precisión y compromiso, asegurando que cada motocicleta reciba una atención 
        integral que garantice su óptimo rendimiento, seguridad y confiabilidad. Mi objetivo es ofrecer soluciones técnicas profesionales
         que generen confianza y satisfacción en cada cliente.
      <p>
        Actualmente en mi tiempo libre fuera de mi horario laboral estoy construyendo una aplicación web y proyectos de desarrollo de software 
        con <strong>Angular</strong>, <strong>Java</strong> y <strong>Spring Boot</strong>, 
        lo que me ha permitido crear soluciones digitales que se podrian implementar en talleres de servicio mecánico para motocicletas
      </p>

      <!-- Botón -->
      <a routerLink="/contacto" class="buton btn mt-3">Contáctame</a>
    </div>
  </div>
</section>
